extends layout
block content
  if (user)
    section(class='message-feed')
  else  
    section(class='login')
      form(method='post', action='/log-in')
        input(placeholder='Email', type='text', name='email')
        input(placeholder='Password', type='password', name='password')
        button(type='submit') Submit 
        a(href='/sign-up') Sign Up      
