extends layout
block content
  if (user)
    section(class='message-feed')
  else  
    section(class='login')
      form(method='post', action='/log-in')
        label(for='email') Email
        input(type='text', name='email')
        label(for='password') Password
        input(type='password', name='password')
        button(type='submit') Submit 
        a(href='/sign-up') Sign Up      
