doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class='nav-bar')
      a(class='nav-link first', href='/') Home
      a(class='nav-link', href='/club-entry') Club   
    block content

